@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/syne/500.css";
@import "@fontsource/syne/600.css";
@import "@fontsource/syne/700.css";


@theme {
    --font-body: "inter", sans-serif;
    --font-heading: "syne", sans-serif;
    --color-gradient: linear-gradient(
        90deg,
        #FF4D6D 0%,
        #BD3EB2 25%,
        #7B2FF7 50%,
        #2F86F7 75%,
        #2FF7ED 100%
    );
}

@layer base {
    body {
        @apply bg-black text-white font-body text-xl overflow-x-clip;
    }
}
