@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/syne/500.css";
@import "@fontsource/syne/600.css";
@import "@fontsource/syne/700.css";
@import "@fontsource/tac-one/400.css";


@theme {
    --font-body: "inter", sans-serif;
    --font-heading: "syne", sans-serif;
    --font-logo: "tac one", sans-serif;
    --color-gradient: linear-gradient(
        90deg,
        #FF4D6D 0%,
        #BD3EB2 25%,
        #7B2FF7 50%,
        #2F86F7 75%,
        #2FF7ED 100%
    );
}

@layer base {
    body {
        @apply bg-black text-white font-body text-xl overflow-x-clip cursor-[url('/cursor.png'),auto];
    }

    h3 {
        @apply font-heading font-medium uppercase text-2xl lg:text-4xl;
    }
}

@layer components {
    /* This class will be controlled by the Preloader */
    .preloader-active {
    overflow: hidden !important;
    height: 100vh !important;
    width: 100% !important;
    position: fixed !important; /* Forces the lock on mobile/Safari */
    }

    .main-container {
        @apply max-w-400 w-full m-auto px-4 lg:px-12;
    }

    h1 {
        position: relative;
    }

    .text-stroke {
        -webkit-text-stroke: 1px white;
        color: transparent;
    }

    .btn {
        background: linear-gradient(#000, #000) padding-box,
                    var(--color-gradient) border-box;
    }

    .btn:hover {
        background: var(--color-gradient) padding-box,
                    var(--color-gradient) border-box;
    }

    .btn-light {
        background: linear-gradient(#fff, #fff) padding-box,
                    var(--color-gradient) border-box;
    }

    @keyframes marquee {
        0% {transform: translateX(-100%)}
        100% {transform: translateX(0)}
    }

    @keyframes star-animation {
        0% {transform: rotate(0deg)}
        100% {transform: rotate(360deg)}
    }

    .marquee-animation {
        animation: marquee 15s linear infinite;
    }

    .marquee-animation-reverse {
        animation: marquee 15s linear infinite reverse;
    }

    .marquee-star {
        animation: star-animation 10s linear infinite;
        transform-origin: center;
    }

    .marquee-star-reverse {
        animation: star-animation 10s linear infinite reverse;
        transform-origin: center;
    }
}

@media (min-width: 1024px) {
    h1::before {
        bottom: 4px;
    }
}